:root {
  --color-purple07: #8f8af9;
  --color-purple08: #6953f1;
  --color-purple09: #5e3dea;
  --color-purple10: #4d27db;

  --color-green01: #e6f7ec;
  --color-green09: #00cf58;

  --color-red: #e65052;
  --color-red01: #ffefef;
  --color-red02: #f5b9ba;

  --color-orange: #fd7b1a;

  --color-gray01: #f9f9f9;
  --color-gray02: #f4f4f4;
  --color-gray03: #efefef;
  --color-gray04: #e9e9e9;
  --color-gray05: #d7d7d7;
  --color-gray06: #bcbcbc;
  --color-gray07: #999999;
  --color-gray08: #7b7b7b;
  --color-gray09: #555555;
  --color-gray10: #434343;
  --color-gray11: #262626;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-blue01: #e6efff;
  --color-blue02: #aec9ff;
  --color-blue03: #88aeff;
  --color-blue04: #729dff;
  --color-blue05: #5d88f2;

  --color-yellow04: #ffbe1c;
}

input {
  border: 1px solid var(--color-gray05);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-gray10);
  background-color: var(--color-white);
}
